*.csproj
*.sln
*.ide-wal
*.cache
*.ide
*.ide-shm
*.ide-wal
*.csproj
*.cache
*.suo
*.lock
*.meta

QuadTree/Library/
UnityProject/Library/
UnityProject/obj/
UnityProject/Temp/
UnityProject/Logs/
UnityProject/.vs/
